#send_message
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2
      = t(:send_the_message)
      %strong
        = @message.subject
      
  = render :partial => 'form'
