#main.new_sending
  / choose message, with creation / editing loop in popup


-content_for :margin do
  / choose recipients, from defined group or selected people
  / here we need recipient_class, I think?

-content_for :title do
  = t :messages
