#bounces
  = render :partial => "msg/bounces/bounce", :collection => @bounces

-content_for :title do
  = t :bounces
-content_for :css do
  = stylesheet_link_tag "msg.css"
-content_for :js do
  = javascript_include_tag "msg.js"
