%header
  %ul.commands
    %li.command{:"data-wysihtml5-command" => "bold"}
    %li.command{:"data-wysihtml5-command" => "italic"}
    %li.command{:"data-wysihtml5-command" => "insertUnorderedList"}
    %li.command{:"data-wysihtml5-command" => "insertOrderedList"}
    %li.command{:"data-wysihtml5-command" => "createLink"}
    %li.command{:"data-wysihtml5-command" => "formatBlock", :"data-wysihtml5-command-value" => "h2"}
    %li.command{:"data-wysihtml5-command" => "formatBlock", :"data-wysihtml5-command-value" => "h3"}
    %li.command{:"data-wysihtml5-action" => "change_view"}

%div{:"data-wysihtml5-dialog" => "createLink", :style => "display: none"}
  %label
    Link:
    %input{:type => "text", :"data-wysihtml5-dialog-field" => "href", :value => "http://"}
    %a{:"data-wysihtml5-dialog-action" => "save"} OK
    %a{:"data-wysihtml5-dialog-action" => "cancel"} cancel
