$red: #ed1c24

.message_list
  div.message
    margin-top: 5px
    margin-bottom: 20px
    h2.name
      margin-left: -32px
      a.message
        +big_icon_link("msg/message.png")
        color: $text
        +hover
    p.description
      margin: 0
      color: $mid
      font-size: 85%
    p.excerpt
      margin: 0


#preview_message, #send_message
  width: 800px
  .header
    width: 770px
  div.headers
    position: relative
    overflow: hidden
    margin: 0
    padding: 10px 0
    width: 100%
    background-color: #eee
    font-size: 0.8em
    a.submit
      position: relative
      float: right
      margin: 5px 10px
    p
      margin: 0 20px
    span.field
      display: inline-block
      width: 45px
  iframe.body
    position: relative
    margin: 0
    border: 0
    width: 100%
    height: 400px


#message
  width: 800px
  .header
    width: 770px
  form.message
    p.subject
      margin: 3px 0
      input[type="text"]
        width: 742px
        font-size: 2.5em
        font-weight: bold

    p.sender
      color: $mid
      margin: 6px 0
      input[type="text"]
        font-size: 1em
        float: left
        margin-bottom: 6px
      input.from_name
        width: 260px
        margin-right: 10px
      input.from_address
        width: 460px

    p.function
      color: $mid
      margin: 6px 0 12px 0
      input[type="text"]
        font-size: 1em
      span.transactional_detail
        display: block
        float: right
        margin: 0 4px
        input[type="text"]
          width: 510px

    div.messagebody
      position: relative
      p.show_details
        margin: 2px 220px 0 0
        float: right
      textarea
        width: 530px
        height: 400px
        font-size: 1.2em
      div.instructions
        position: absolute
        width: 205px
        right: 0
        top: 16px
        color: $mid
        font-size: 80%
        ul
          list-style: none
          padding: 0
          
    p.saved
      margin: 0 0 12px 0
      span.saved_detail
        display: block
        margin: 6px 0
        input[type="text"]
          width: 742px
          font-size: 1em
        
    div.buttons
      margin-top: 20px
